body {
	font-size: 62.5%;
	background-color: #CCCCCC;
	margin:0em auto 0em auto;
	
}
#contenido {
	width:100%;
	position:relative;
	
	
}
.ul_segundomenu {
	margin-left:2.5em;
	margin-top:1.5em;
}